__pycache__/
*.pyc
.venv/
env/
trash/
rt_out/temp/

rt_out/poses/panda/panda_pose.log
rt_out/poses/ur5/ur5_pose.log
models/furniture/Reflective table/materials/textures/DepotEnvMap.dds

.codex/
.vscode/
