<?xml version="1.0"?>

<model>
  <name>factory_shell</name>
  <version>1.0</version>
  <sdf version="1.12">model.sdf</sdf>

  <author>
    <name>Slavcho Neshev</name>
    <email>slneshev@tu-sofia.bg</email>
  </author>

  <description>
    Portable factory room shell model containing the floor, ceiling, and walls.
  </description>
</model>
